# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BaiTapConsol\BT_ThucHanh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
